#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body{
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg,
      rgba(20, 18, 19, 0.9) 30%,
      rgba(0, 94, 105, 0.9) 100%),
    url(Images/github_pattern.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title{
    background: rgba(0, 160, 178, 0.7);
    text-align: center;
}
 
h1{
    color: white;
}
 
#text{
    Background: rgba(255,255,255,0.7); 
}

#image-container{
    width: 20em;
}
 
#selfie{
    object-fit: contain;
    max-width: 100%;
    margin-bottom: 10px;
}

#greeting-container {
  margin-top: 20px;
}
